# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Models and large data
models/*.joblib
*.csv

# OS files
.DS_Store
Thumbs.db
